body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(11, 13, 24);
    color: #f1f5f9;
}

/* Header */
header {
    background: linear-gradient(45deg, #777777, #ffffff, #777777);
    text-align: center;
}

header img {
    width: 40%;
    height: auto;
}

/* Footer */
footer {
    background: linear-gradient(90deg, #000000, #202020, #000000);
    text-align: center;
    padding: 1px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Menu */
nav {
    background: linear-gradient(90deg, #000000, #2e2e2e, #000000);
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    max-height: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8; /* efeito ao passar o mouse */
}

/* Conteúdo */
main {
    justify-items: center;
}

section {
    justify-items: center;
    border-radius: 15px;
    margin: 10px;
    margin-left: -15%;
    width: 80%;
    border-style: solid;
    background-color: rgb(5, 6, 12);
    padding-left: 1%;
    padding-right: 0.5%;
}

h2 {
    margin-top: 20px;
    color: #38bdf8;
}

h4 {
    margin-top: 50px;
}

#forms {
    padding-bottom: 15px;
}

/* lista */
ol li {
    margin-top: 50px;
}
ul li {
    margin-top: 15px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #334869;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #334869;
}

/* formulário */
form {
    justify-self: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    max-width:30%;
    min-width:30%;
}
input {
    background-color: rgb(11, 13, 24);
    border-radius: 5px;
    color: white;
    width: 100%;
}
select{
    border-radius: 5px;
    background-color: rgb(11, 13, 24);
    color: white;
}
.atr {
    margin-top: 15px;
    width: 15%;
}
#divisoria {
    margin-top: 15px;
    margin-bottom: 7px;
}
#txt {
    max-width:205%;
    min-width:205%;
}
.txtBox {
    font-family: 'Arial', sans-serif;
    max-width:100%;
    min-width:100%;
    max-height:25%;
    min-height:25%;
    background-color: rgb(11, 13, 24);
    color: white;
    border-radius: 7px;
}


/* 💻 DESKTOP */
@media (min-width: 1024px) {
    main {
        max-width: 900px;
        margin: auto;
        margin-left: 150px;
    }
}
